{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4">

      {% include 'index.html' %}

    </div>
    <div class="col-sm-8 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4 class='bg-info'>Delete Post</h4>

      </div>
    <div class="panel-body">
      <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Delete" />
</form>

    </div>
    </div>

    </div>

  </div>
</div>

{% endblock %}
