{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      {% include 'index.html' %}
    </div>
    <div class="col-sm-8 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4 class='bg-info'>Setting</h4>

      </div>
      <div class="panel panel-default">

        <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <th>
                Site Name
              </th>
              <th>
               Contact No.
              </th>
              <th>
              Contact email
              </th>
              <th>
                Address
              </th>
              <th>
                Edit
              </th>
              <th>
                Delete
              </th>
            </thead>
            <tbody>
              {% for article in object_list %}

              <tr>
                <td>
                  {{article.site_name}}
                </td>
                <td>
                  {{article.contact_number}}
                </td>
                <td>
                  {{article.contact_email}}
                </td>
                <td>
                  {{article.address}}
                </td>
                <td>
                    <a href="{% url 'update_setting' article.id %}" class="btn btn-xs btn-info">
                      <span class="glyphicon glyphicon-pencil">edit</span>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_setting' article.id %}" class="btn btn-xs btn-danger">
                      <span class="glyphicon glyphicon-trash">delete</span>
                    </a>
                </td>

              </tr>

              {% endfor %}
            </tbody>

          </table>
        <div class="panel-body">
          <table class="table table-hover">
            {% if not object_list %}
            <tbody>
              <tr>
                <p class="text-center">No Any Details Yet!</p>
              </tr>
              <tr>
              </tr>

            </tbody>
          </table>
        </div>
          <div class="panel-body">
            <table class="table table-hover">
              <tr>
                <div class="text-center">
                  <a href="{% url 'create_setting' %}" class="btn btn-xs btn-info">
                    <span class="glyphicon glyphicon-pencil">set now</span>
                  </a>
                </div>
              </tr>
            </table>
          </div>
          {% endif %}
        </div>

      </div>


    </div>
    </div>



  </div>
</div>
{% endblock %}
