{% extends 'base.html' %}

{% block content %}
{% load bootstrap3 %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">

      {% include 'index.html' %}

    </div>
    <div class="col-sm-8 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4 class='bg-info'>Edit Posts</h4>
      </div>
      <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center">
          <input class="btn btn-success" type="submit" value="Update" />

        </div>
    </form>

    </div>
    </div>

    </div>

  </div>
</div>

{% endblock %}
