
<div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="{% url 'home' %}">Home</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'create_post' %}">Create new post</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'create_category' %}">Create new category</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'view_categories' %}">Categories</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'view_post' %}">All Post</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'create_tag' %}">Create Tag</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'view_tag' %}">Tags</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'accounts:signup' %}">Create new user</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'accounts:users' %}">Users</a>
      </li>
      <li class="list-group-item">
          <a href="{% url 'view_setting' %}">Setting</a>
      </li>
    </ul>
  <br>
</div>
